/***********************TAG ELEMENTS*************************/
h1 {
  font-family: Oswald, sans-serif;
  font-size: 4em;
  margin: 1em auto 0;
}

body {
  
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  
}

/***********************CLASS ELEMENTS***********************/
.menu-element {
  color: #40a798;
  display: inline-block;

  /*font-family: Arial ,sans-serif;*/
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  padding: 0 2%;
  margin-top: 0;
}

.menu-element:hover {
  text-decoration: underline;
}

.top-container {
  background-image: url("../images/spices-background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #476268;
  /*font-family: Brush Script MT, cursive;*/
  height: 400px;
}

.description{
  padding: 2% 5%;
}

.my-description {
  font-size: 1.7em;
  
}

.middle-container{
  background-color: #f5e1da;
  margin: 0 0;
  padding: 100px;
}

.buttom-container{
  background-color: #9fbdb9;
  text-align: center;
  padding-top: 5%;
}

.bi{
  color: #476268;
  font-size: 2em;
  padding: 1%;
}

.copyrights{
  color: #476268;
  font-size: 70%;
  padding: 30px 10px;
}

/***********************ID ELEMENTS**************************/
